/* Get Started Section */
.get-started-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
    margin-top: 50px;
}

.image-container {
    max-width: 30%;
    text-align: center;
}

.image-container img {
    height: 500px;
    width: 350px;
    border-radius: 50px;
    object-fit: cover;
}

.text-container {
    width: 40%;
    text-align: center;
}

.text-container h2 {
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #00796b;
}

.text-container p {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    margin: 20px 0;
}

.get-btn {
    display: inline-block;
    background-color: #00796b;
    color: #fff;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s;
}

.get-btn:hover {
    background-color: #004d40;
}


/* General styles for all animated elements */
.animate-on-scroll {
    opacity: 0;
    transform: scale(0.95);
    transform-origin: center;
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.animate-on-scroll.animate {
    opacity: 1;
    transform: scale(1);
}
/* Responsive Design */
@media (max-width: 1200px) {
    .text-container h2 {
        font-size: 2.2rem;
    }

    .text-container p {
        font-size: 1.1rem;
    }

    .image-container img {
        height: 450px;
        width: 300px;
    }
}

@media (max-width: 992px) {
    .get-started-section {
        flex-direction: column;
        align-items: center;
    }

    .image-container {
        max-width: 80%;
    }

    .text-container {
        width: 80%;
        margin-top: 20px;
    }

    .text-container h2 {
        font-size: 2rem;
    }

    .text-container p {
        font-size: 1rem;
    }

    .image-container img {
        height: 400px;
        width: 300px;
    }
}

@media (max-width: 768px) {
    .text-container h2 {
        font-size: 1.8rem;
    }

    .text-container p {
        font-size: 0.9rem;
    }

    .image-container img {
        height: auto;
        width: 100%;
    }

    .text-container {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .text-container h2 {
        font-size: 1.5rem;
    }

    .text-container p {
        font-size: 0.8rem;
    }

    .image-container img {
        height: auto;
        width: 100%;
        border-radius: 25px;
    }

    .get-btn {
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
    }
}
