/* Contact Section Styling */
.contact-section {
  padding: 50px;
  background-color: white;
  text-align: center;
}

/* Animations for elements when they come into view */
.animate-on-scroll {
  opacity: 0; /* Initially hidden */
  transform: translateY(30px); /* Initially moved */
  transition: opacity 1s ease-out, transform 1s ease-out; /* Smooth transition */
}

/* Triggered when elements are in view */
.animate-on-scroll.in-view {
  opacity: 1;
  transform: translateY(0); /* Reset to original position */
}

.contact-section h2 {
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #00796b;
}

.contact-section p {
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1rem;
  margin-bottom: 40px;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.contact-image img {
  width: 100%;
  max-width: 390px;
  height: auto;
  border-radius: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 30px;
  background-color: #f9f9f9;
  width: 100%;
  max-width: 450px;
}

.contact-form input,
.contact-form textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 30px;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: #e0f7fa;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #007bff;
}

.contact-form textarea {
  resize: none;
  height: 100px;
}

.contact-btn {
  display: inline-block;
  background-color: #00796b;
  color: #fff;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s, transform 0.3s;
}

.contact-btn:hover {
  background-color: #004d40;
  transform: scale(1.1);
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .contact-form {
    width: 90%;
  }

  .contact-image img {
    width: 90%;
  }
}
